table {
    table-layout:fixed; /* 표 밖으로 튀어나감 방지*/
    text-align: center;
    width: 100%;
    height: 100%;
    /* z-index: 2; */
}

thead {
    width: 100%;
}

tr {
    width: 100%;
}

th,td{
    line-height: 45px;
}

td{
    /* display: flex; */
    /* text-align: center; */
    padding: 5px 10px;
}

.calendar>thead>tr:first-child>td {
    font-family: 'Questrial', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

.calendar>thead>tr:last-child>td>p {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;     
}

.calendar>tbody>tr>td>p {
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    width: 45px;
    border-radius: 60px;
    transition-duration: .1s;
    line-height: 50px;
    /* margin: 2.5px; */
    text-align: center;
    /* align-items: center; */
}        

.pastDay {
    color: lightgray;
    cursor: pointer;
}
.pastDay:hover{
    background:#eee;
}

.today {
    background-color: #F5D042;            
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
}
.futureDay:hover{
    background:#eee;
}

.choiceDay {
    background: #0A174E;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}