.modal {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000bb;
}

.modal-container {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fafafa;
}

.modal-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    padding: 15px;
    width: 300px;
}

.modal-title{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
}

.delete-button{
    display: flex;
    position: absolute;
}

.modal-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    padding: 20px;
    width: 300px;
}

.modal-message {
    width: 100%;
    text-align: center;
    font-size: 13px;
    word-wrap: break-word;  /* 자동 줄 바꿈 */
}

.modal-main > *:not(.modal-main :nth-last-child(1)){    /* 마지막(fotter) 빼고 마진 추가*/
    margin-bottom: 10px;
}

.modal-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 20px;
    width: 300px;
}

.modal-footer .btn:not(.modal-footer :nth-last-child(1)){
    margin-right: 5px;
}